<div id="wrapper" [ngClass]="{ disabled: !timerService.isStarted }">
  @for (entry of gifts | keyvalue; track $index) {
  <div
    *ngIf="entry.key !== 'Family'"
    class="expandable"
    [ngClass]="{ open: openedCategory === entry.key.toLowerCase() }"
  >
    <button
      class="category-button"
      (click)="openCategory(entry.key.toLowerCase())"
    >
      {{ entry.key }}
    </button>
    <div id="gifts">
      @for (gift of entry.value; track $index) {
      <gift [gift]="gift"></gift>
      }
    </div>
  </div>
  }
</div>
