$pink: #ff006c;
$dark: #212121;

#wrapper.disabled {
  filter: grayscale(100%);
  pointer-events: none;
  transition: all 500ms ease-in-out;
}

h1 {
  position: sticky;
  top: 0;
  text-align: center;
  color: white;
}

#gifts {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
}
