<h1>Classic</h1>
<div id="gifts">
  @for (gift of gifts.Classic; track $index) {
  <app-gift [gift]="gift"></app-gift>
  }
</div>
<h1>Artists</h1>
<div id="gifts">
  @for (gift of gifts.Artists; track $index) {
  <app-gift [gift]="gift"></app-gift>
  }
</div>
<h1>Love</h1>
<div id="gifts">
  @for (gift of gifts.Love; track $index) {
  <app-gift [gift]="gift"></app-gift>
  }
</div>
<h1>Moods</h1>
<div id="gifts">
  @for (gift of gifts.Moods; track $index) {
  <app-gift [gift]="gift"></app-gift>
  }
</div>
<h1>VIP</h1>
<div id="gifts">
  @for (gift of gifts.VIP; track $index) {
  <app-gift [gift]="gift"></app-gift>
  }
</div>
