<div id="controls">
  <div id="new-timer-form">
    <button
      (click)="onMainButtonClicked()"
      [disabled]="!isTimeValid && !timerService.isStarted"
    >
      @if(!timerService.isStarted) {
      <ng-icon name="iconoirPlay"></ng-icon>
      Start } @else {
      <ng-icon name="iconoirPause"></ng-icon>
      Stop }
    </button>
    <div class="number-input">
      <input
        type="number"
        [(ngModel)]="newTimerForm.hours"
        (change)="onNewTimerFormChange()"
        [disabled]="timerService.isStarted"
        min="0"
      />
      <span>h</span>
    </div>
    <div class="number-input">
      <input
        type="number"
        [(ngModel)]="newTimerForm.minutes"
        (change)="onNewTimerFormChange()"
        [disabled]="timerService.isStarted"
        min="0"
        max="60"
      />
      <span>m</span>
    </div>
    <div class="number-input">
      <input
        type="number"
        [(ngModel)]="newTimerForm.seconds"
        (change)="onNewTimerFormChange()"
        [disabled]="timerService.isStarted"
        min="0"
        max="60"
      />
      <span>s</span>
    </div>
  </div>
  <button (click)="timerService.pause()" [disabled]="!timerService.isStarted">
    <ng-icon name="iconoirPause"></ng-icon>
    {{ timerService.isPaused ? "Play" : "Pause" }}
  </button>
  <div class="divider"></div>
  <div id="color-settings">
    <div class="color-input">
      <div class="inputs">
        <ng-icon name="iconoirText"></ng-icon>
        <input
          type="text"
          maxlength="7"
          [(ngModel)]="timerService.colors.color"
          (change)="timerService.saveColors()"
        />
        <input
          type="color"
          [(ngModel)]="timerService.colors.color"
          (change)="timerService.saveColors()"
        />
      </div>
    </div>
    <div class="color-input">
      <div class="inputs">
        <ng-icon name="iconoirTextSquare"></ng-icon>
        <input
          type="text"
          maxlength="7"
          [(ngModel)]="timerService.colors.background"
          (change)="timerService.saveColors()"
        />
        <input
          type="color"
          [(ngModel)]="timerService.colors.background"
          (change)="timerService.saveColors()"
        />
      </div>
    </div>
  </div>
</div>
