<div id="gift">
  <img src="{{ gift.image }}" />
  <div id="gift-controls">
    <button
      id="gift-value"
      (click)="timerService.addSeconds(gift.timeValue)"
      [disabled]="!timerService.isStarted"
    >
      +{{ gift.timeValue }}s
    </button>
    <div id="custom-amount-form">
      <div id="custom-amount-number-switch">
        <button (click)="customAmount = customAmount - 1">
          <ng-icon name="iconoirMinus"></ng-icon>
        </button>
        <input type="number" [(ngModel)]="customAmount" />
        <button (click)="customAmount = customAmount + 1">
          <ng-icon name="iconoirPlus"></ng-icon>
        </button>
      </div>
      <button (click)="addCustomAmount()">Add custom</button>
    </div>
  </div>
</div>
